{% extends "base.html" %}
{% block title %}Baustellen{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Baustelle #{{ baustelle.auftragsnummer }}</h5>
            <div class="mb-3">
                <label for="baustelleName" class="form-label mb-0 "><strong>Name:</strong></label>
                <p id="baustelleName">{{ baustelle.name }}</p>
            </div>
            <div class="mb-3">
                <label for="baustelleAdresse" class="form-label mb-0 "><strong>Adresse:</strong></label>
                <p id="baustelleAdresse">{{ baustelle.adresse }}</p>
            </div>
            <div class="mb-3">
                <label for="baustelleBeschreibung" class="form-label mb-0 "><strong>Beschreibung:</strong></label>
                <p id="baustelleBeschreibung">{% for b in baustelle.beschreibung %} {{b}} <br> {% endfor %}</p>
            </div>
            <a href="{{ url_for('.edit', id=baustelle.id)}}" class="btn btn-primary">Bearbeiten</a>


            <div class="container mt-5">
                <h1>1</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for bild in baustelle.bilder %}
                    <div class="col">
                        <!-- <label for="baustelleBild" class="form-label accordion mb-0 "><strong>Bild:</strong></label> -->
                        <img src="data:image/png;base64,{{bild}}" class="img-thumbnail" alt="Bild">

                    </div>

                    {%endfor%}
                </div>
            </div>



        </div>
    </div>
</div>
</div>

{% endblock %}