{% extends "base.html" %}
{% block title %}Baustellen{% endblock %}
{% block content %}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Baustelle #{{ baustelle.auftragsnummer }}</h5>

        <!-- Edit form -->
        <form method="POST" action="{{ url_for('.edit', id=baustelle.id) }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <!-- Nummer -->
            <div class="form-floating mb-3">
                {{ form.auftragsnummer(class="form-control") }}
                <label for="auftragsnummer" class="form-label">Auftragsnummer</label>
            </div>


            <!-- Name -->
            <div class="form-floating mb-3">
                {{ form.auftragsname(class="form-control") }}
                <label for="auftragsname" class="form-label">Auftragsname</label>
            </div>

            <!-- Address -->
            <div class="form-floating mb-3">
                {{ form.auftragsadresse(class="form-control") }}
                <label for="auftragsadresse" class="form-label">Adresse</label>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="auftragsbeschreibung" class="form-label">Beschreibung:</label>
                {{ form.auftragsbeschreibung(class="form-control", rows="4") }}
            </div>

            <!-- Status -->
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                {{ form.status(class="form-select") }}
            </div>

            <!-- Images -->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Bilder Hinzufügen</label>
                <input class="form-control" type="file" id="formFileMultiple" name="file" accept="image/*" multiple>
            </div>

            <!-- Form buttons -->
            <div class="d-flex justify-content-between">
                {{ form.submit_update(class="btn btn-primary") }}
                {{ form.submit_delete(class="btn btn-danger") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}