{% extends "base.html" %}
{% block title %}Baustellen{% endblock %}
{% block content %}
<h1>Baustellen</h1>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for baustelle in baustellen %}
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{baustelle.auftragsnummer}}</h5>
                    <h5>{{baustelle.name}}</h5>
                    <h5>{{baustelle.adresse}}</h5>
                    <p class="card-text">{{baustelle.beschreibung}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}