{% extends "base.html" %}
{% block title %}Export{% endblock %}
{% block content %}
<div class="card mt-5">
    <div class="card-header">
        Täglicher Export
    </div>
    <div class="card-body">
        <form action="{{ url_for('.dailyexport') }}" method="get">
            <div class="mb-3">
                <input id="exportDate" class="form-control" type="date" name="date" />
            </div>
            <button type="submit" class="btn btn-primary">
                Exportieren
            </button>
        </form>
    </div>
</div>

<script>
    document.getElementById('exportDate').value = new Date().toISOString().split('T')[0];
</script>

{% endblock %}