<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Grünzeit</title>
    {% endblock %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2024 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>

</body>

</html>