{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Main content -->
<div class="container mt-5">
    <h2>Dashboard</h2>
    <div class="row justify-content-center">
        {% for view in views %}
        {% if 'description' in view %}
        <div class="col-md-4 mb-3 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ view.name }}</h5>
                    <p class="card-text">{{ view.description }}</p>
                    {% if 'multi' in view %}
                    <div class="list-group">
                        {% for subview in view.multi %}
                        <a href="{{ subview.url }}" class="list-group-item list-group-item-action">{{ subview.name }}</a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <a href="{{ view.url }}" class="btn btn-primary">{{ view.name }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}