{% extends "base.html" %}
{% block title %}Stempeln{% endblock %}
{% from "stempel/timetable.html" import build_timeinput %}
{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="zeitleiste-tab" data-bs-toggle="tab" data-bs-target="#zeitleiste"
            type="button" role="tab" aria-controls="zeitleiste" aria-selected="true">
            Zeitleiste
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="stempelneu-tab" data-bs-toggle="tab" data-bs-target="#stempelneu" type="button"
            role="tab" aria-controls="stempelneu" aria-selected="false">
            Neue Zeit Stempeln
        </button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button"
            role="tab" aria-controls="messages" aria-selected="false">
            Messages
        </button>
    </li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="zeitleiste" role="tabpanel" aria-labelledby="zeitleiste-tab">

        <h2 class="text-center mb-2 mt-1">Deine Zeitleiste Heute</h2>
        {% if not userTimesToday %}
        <div class="alert alert-warning" role="alert">
            Du hast heute noch keine Zeiten gestempelt.
        </div>
        {%else%}
        {% for userTime in userTimesToday %}

        <!-- FOR DEBUGGING: -->
        <!-- {{userTime}} -->

        <div class="card shadow-sm mb-1">
            <div class="card-body">
                <h5 class="card-title">
                    {{userTime.start_time}} -
                    {% if userTime.end_time %}
                    {{userTime.end_time}}
                    {%else%}
                    jetzt
                    {%endif%}
                    {%if userTime.duration %}
                    ({{userTime.duration}})
                    {%endif%}
                </h5>
                <small class="text-muted">
                    
                </small>
                <p class="card-text">
                    {% if userTime.job %}
                    {{userTime.job.name}}
                    {%else%}
                    Keine Baustelle ausgewählt
                    {%endif%}
                </p>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#timeModal{{userTime.id}}">
                    Bearbeiten
                </button>
                <!-- <a class="btn btn-primary" href="{{ url_for('site.stempel.edit', id=userTime.id)}}"
                    role="button">Bearbeiten</a> -->
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
    <div class="tab-pane" id="stempelneu" role="tabpanel" aria-labelledby="stempelneu-tab">
        <div class="py-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Neue Zeit Stempeln</h5>
                    <form action="{{ url_for('site.stempel.start')}}" id="timeForm" method="post">
                        <label for="timeTable">Uhrzeit:</label>
                        <div class="table-responsive mb-3" id="timeTable">
                            {{ build_timeinput('startHour', 'startMinute', currHour, currMin) }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="baustelle">Baustelle</span>
                            <select class="form-select" name="baustelle" id="baustelle" aria-label="baustelle"
                                aria-describedby="baustelle">

                                <option selected value="">Keine</option>
                                {% for baustelle in baustellen %}
                                <option value="{{baustelle.id}}">{{baustelle.name}}</option>
                                {%endfor%}
                            </select>
                        </div>

                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary">Submit Time</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        messages
    </div>
</div>

{%if userTimesToday %}
{% for userTime in userTimesToday %}
<div class="modal fade" id="timeModal{{userTime.id}}" tabindex="-1" aria-labelledby="timeModal{{userTime.id}}Label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="timeModal{{userTime.id}}Label">Modal {{userTime.id}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="timeForm" method="post">
                    <label for="timeTable">Uhrzeit:</label>
                    <div class="table-responsive mb-3" id="timeTable">
                        {{ build_timeinput('startHourID'~userTime.id, 'startMinuteID'~userTime.id, currHour, currMin)}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="baustelle">Baustelle</span>
                        <select class="form-select" name="baustelle" id="baustelle" aria-label="baustelle"
                            aria-describedby="baustelle">

                            <option selected value="">Keine</option>
                            {% for baustelle in baustellen %}
                            <option value="{{baustelle.id}}">{{baustelle.name}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">Submit Time</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{%endfor%}
{%endif%}

<script>

    function changeTime(type, change, hourID, minuteID) {
        const hoursInput = document.getElementById(hourID);
        const minutesInput = document.getElementById(minuteID);
        let hoursValue = parseInt(hoursInput.value);
        let minutesValue = parseInt(minutesInput.value);

        if (type === 'hours') {
            hoursValue += change;
            if (hoursValue > 23) hoursValue = 0;
            if (hoursValue < 0) hoursValue = 23;
            hoursInput.value = hoursValue.toString().padStart(2, '0');
        } else if (type === 'minutes') {
            minutesValue += change;
            if (minutesValue > 59) {
                minutesValue -= 60;
                changeTime('hours', 1, hourID, minuteID); // Automatically adjust hour when minutes exceed 59
            }
            if (minutesValue < 0) {
                minutesValue += 60;
                changeTime('hours', -1, hourID, minuteID); // Automatically adjust hour when minutes go below 0
            }
            minutesInput.value = minutesValue.toString().padStart(2, '0');
        }
    }
</script>
{% endblock %}